/* Tipografía */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces&family=Lato&display=swap");
/* Variables */
:root {
  --primario: #e6e6fa;
  --primario-claro: #ffffff;
  --primario-fuerte: #ccccf5;
  --secundario: #000000;
  --secundario-claro: #b2b3b2;
  --secundario-fuerte: #000000;
  --bg: #e6e6fa;
  --font-base: "Lato", sans-serif;
  --font-headings: "Fraunces", serif;
  --h1: 27px;
  --h2: 81px;
  --h3: 54px;
  --h4: 27px;
  --h5: 18px;
  --h6: 16px;
}

/* Base */
body {
  font-family: var(--font-base);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Componentes */
.nav {
  position: sticky;
  top: -1px;
  background-color: #e6e6fa;
  max-width: 100vw;
  outline: 1px solid black;
  z-index: 100;
}

.logo {
  position: fixed;
  width: 70px;
  height: 70px;
  left: 0;
  outline: 1px solid black;
}

.nav ul {
  font-family: var(--font-headings);
  font-size: var(--h5);
  display: flex;
  margin: 0;
  margin-left: 70px;
  margin-right: 0;
  align-items: center;
  justify-content: center;
  gap: 350px;
  width: 100vw;
  height: 70px;
  background-color: lavender;
  outline: 1px solid black;
  /* font-color: black; */
}

.nav a {
  padding-top: 15px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 15px;
}

.nav ul li {
  position: relative;
}

.nav ul li a:hover {
  position: absolute;
  top: 0;
  content: url(https://res.cloudinary.com/deryav09b/image/upload/v1619708873/proyectos/Recurso_8_yhs2zm.svg);
}

.nav ul li a::after {
  width: 100%;
  transition: all 0.3s ease-out;
  position: absolute;
}

.nav ul li a:hover::after {
  height: 50px;
  width: 150px;
  top: 0;
  content: url(https://res.cloudinary.com/deryav09b/image/upload/v1619708873/proyectos/Recurso_8_yhs2zm.svg);
  transition: all 0.3s ease-out;
  position: absolute;
}

.nombre {
  position: fixed;
  font-family: var(--font-headings);
  font-size: var(--h4);
  writing-mode: vertical-lr;
  transform: rotate(-180);
  padding-top: 340px;
  padding-left: 15px;
  width: 70px;
  height: 100vh;
  margin-top: 0px;
  display: block;
  background-color: lavender;
  outline: 1px solid black;
}

.intro {
  background-color: #e6e6fa;
  color: #38e925;
  font-family: var(--font-headings);
  font-size: var(--h4);

  display: flex;
  padding-top: 28%;
  padding-bottom: 28%;
  padding-left: 60%;
}

.button {
  font-size: 1em;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #333;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px;
  margin-left: 70px;
  padding: 20px;
  position: relative;
  transition: all 5s ease-in-out;
  background-color: lavender;
  width: 95vw;
  height: 100vh;
  outline: 1px solid black;
}

.popup h1 {
  color: #333;
  margin-left: 20px;
  margin-top: 20px;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 40px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}
.popup .close:hover {
  color: #38e925;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  padding-top: 20px;
  padding-left: 20px;
}
.enredogrid {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  position: relative;
}
.popup .imagen1 {
  margin-top: 20px;
  margin-right: 20px;
  grid-column: 2;
  grid-row: 1;
  outline: 1px solid black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img,
picture {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Aqui empieza el grid */
.grid-proyectos {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
  margin-left: 70px;
}

.proyecto:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / span 2;
  /*   grid-area: 1 / 1 / 3 / 2; */
  outline: 1px solid black;
  width: 351px;
}
.proyecto:nth-child(2) {
  /*   grid-area: 1 / 2 / 2 / 3; */
  outline: 1px solid black;
  width: 347px;
}
.proyecto:nth-child(3) {
  /*   grid-area: 1 / 3 / 2 / 4; */
  outline: 1px solid black;
  width: 206px;
}
.proyecto:nth-child(4) {
  /*   grid-area: 1 / 4 / 2 / 5; */
  outline: 1px solid black;
  width: 542px;
}
.proyecto:nth-child(5) {
  grid-row: 3;
  outline: 1px solid black;
  width: 351px;
}
.proyecto:nth-child(6) {
  grid-row: 2 / span 2;
  /*   grid-area: 2 / 2 / 4 / 3; */
  outline: 1px solid black;
  width: 346px;
}
.proyecto:nth-child(7) {
  /*   grid-area: 2 / 3 / 3 / 5; */
  grid-column: 3 / span 2;
  grid-row: 2 / span 2;
  /*   grid-row: c / 4; */
  outline: 1px solid black;
  width: 746px;
}

.proyecto-info {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 80%;
  height: auto;
  background-color: rgba(119, 126, 124, 0.068);
  margin: 20px auto;
}

.proyecto-info p {
  font-size: 10px;
}
.proyecto-info img {
  margin: auto;
}

/* Utilities */
.flex {
  display: flex;
}

.flex-center {
  justify-items: center;
  align-items: center;
}

.grid {
  display: grid;
  width: 100vw;
}

.grid-center {
  place-content: center;
}

.mx-auto {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.hidden {
  display: none;
  visibility: hidden;
}

.outline {
  outline: 1px solid black;
}
