/* Tipografía */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces&family=Lato&display=swap");
/* Variables */
:root {
  --primario: #e6e6fa;
  --primario-claro: #ffffff;
  --primario-fuerte: #ccccf5;
  --secundario: #000000;
  --secundario-claro: #b2b3b2;
  --secundario-fuerte: #000000;
  --bg: #e6e6fa;
  --font-base: "Lato", sans-serif;
  --font-headings: "Fraunces", serif;
  --h1: 27px;
  --h2: 81px;
  --h3: 54px;
  --h4: 27px;
  --h5: 18px;
  --h6: 19px;
}

/* Base */



body {
  font-family: var(--font-base);
  cursor: url(https://res.cloudinary.com/deryav09b/image/upload/v1622679023/proyectos/Recurso_20_1_zsliqr.svg), progress;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Componentes */

.nav {
  position: sticky;
  top: -1px;
  background-color: #e6e6fa;
  width: 100vw;
  outline: 1px solid black;
  z-index: 100;
}

.logo {
  position: fixed;
  width: 70px;
  height: 70px;
  left: 0;
  outline: 1px solid black;
}

.nav ul {
  font-family: var(--font-headings);
  font-size: var(--h5);
  display: flex;
  margin: 0;
  margin-left: 70px;
  align-items: center;
  justify-content: center;
  gap: 350px;
  width: 100vw;
  height: 70px;
  background-color: lavender;
  outline: 1px solid black;
  /* font-color: black; */
}

.nav a {
  padding-top: 15px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 15px;
  transition: all 0.3s ease-out;
  z-index: -10000000000;
}

.nav ul li {
  position: relative;
  z-index: 10000000000;
}

.nav ul li a:hover {
  /* top: 0; */

  /* content: url(https://res.cloudinary.com/deryav09b/image/upload/v1619708873/proyectos/Recurso_8_yhs2zm.svg); */
  content: url(./svg.svg);
}

@media screen and (max-width: 600px) {
  .nav {
    width: 100vw;
    display: unset;
  }

  .nav ul {
    font-family: var(--font-headings);
    font-size: var(--h5);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    width: auto;
    height: 70px;
  }

  .nav a {
    padding: 0;
  }
  
  .nombre {
  position: fixed;
  font-family: var(--font-headings);
  font-size: var(--h4);
  writing-mode: vertical-lr;
  transform: rotate(-180);
  padding-top: 0px;
  padding-left: 15px;
  width: 70px;
  display: block;
  
}
}


/* .nav ul li a::after {
  width: 100%;

  position: absolute;
} */

/* .nav ul li a:hover::after {
  height: 250px;
  width: 180px;
  top: 0;
  content: url(https://res.cloudinary.com/deryav09b/image/upload/v1619708873/proyectos/Recurso_8_yhs2zm.svg);
  transition: all 0.3s ease-out;

} */

.nombre {
  position: fixed;
  font-family: var(--font-headings);
  font-size: var(--h4);
  writing-mode: vertical-lr;
  transform: rotate(-180);
  padding-top: 340px;
  padding-left: 15px;
  width: 70px;
  height: 100vh;
  margin-top: 0px;
  display: block;
  background-color: lavender;
  outline: 1px solid black;
}

.intro {
  background-color: #e4e4f7;
  color: #000000;
  font-family: var(--font-headings);
  font-size: var(--h4);

  display: inline-block
  padding-bottom: 10%;
  padding-left: 30%;
  padding-top: 5%;
}

/*.intro figure{
background-color: #0000e6;
transition: all 400ms ease-out;*/
}



.intro gif{
  position: relative;
  display: inline-block;
  padding-left: 80%;

}

/*.intro figure img:hover{
  position: relative;
  border: 2px solid;*/
}

.intro figcaption{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
    text-align: center;
    font-size: 32px;
    color: white;*/
}

@media screen and (max-width: 600px) {
.intro {
  background-color: #e4e4f7;
  color: #000000;
  font-family: var(--font-headings);
  font-size: var(--h4);

  display: inline-block
  padding-bottom: 10%;
  padding-left: 25%;
  padding-right: 1%;
  padding-top: 40%;
  padding-bottom: 140px;
}


.intro gif{
  position: relative;
  display: inline-block;
  padding-left: 80%;

}

.popup .imagen1 {
  margin-top: 20px;
  margin-right: 20px;
  grid-column: 2;
  grid-row: 1;
  outline: 1px solid black;
}
}
/*
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img,
picture {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
} */

/* Aqui empieza el grid */
.grid-proyectos {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(6, auto);
  margin-left: 70px;

}


.proyecto:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / span 2;
  /*   grid-area: 1 / 1 / 3 / 2; */
  outline: 1px solid black;
  width: 353px;
  cursor: url(https://res.cloudinary.com/deryav09b/image/upload/v1622679022/proyectos/Capa_2_a23z1s.svg), progress;
}
.proyecto:nth-child(2) {
  /*   grid-area: 1 / 2 / 2 / 3; */
  outline: 1px solid black;
  width: 349px;
}
.proyecto:nth-child(3) {
  /*   grid-area: 1 / 3 / 2 / 4; */
  outline: 1px solid black;
  width: 206px;
}
.proyecto:nth-child(4) {
  /*   grid-area: 1 / 4 / 2 / 5; */
  outline: 1px solid black;
  width: 542px;
}
.proyecto:nth-child(5) {
  grid-row: 3;
  outline: 1px solid black;
  width: 353px;
}
.proyecto:nth-child(6) {
  grid-row: 2 / span 2;
  /*   grid-area: 2 / 2 / 4 / 3; */
  outline: 1px solid black;
  width: 350px;
}
.proyecto:nth-child(7) {
  /*   grid-area: 2 / 3 / 3 / 5; */
  grid-column: 3 / span 2;
  grid-row: 2 / span 2;
  /*   grid-row: c / 4; */
  outline: 1px solid black;
  width: 746px;
  cursor: url(https://res.cloudinary.com/deryav09b/image/upload/v1622679022/proyectos/Capa_2_a23z1s.svg), progress;
}
.proyecto:nth-child(8) {
  grid-column: 1;
   width: 353px;
  outline: 1px solid black;
  cursor: url(https://res.cloudinary.com/deryav09b/image/upload/v1622679022/proyectos/Capa_2_a23z1s.svg), progress;

}
.proyecto:nth-child(9) {
  grid-column: 2 / span 2;
   grid-row: 4 / span 2;
  outline: 1px solid black;
    width: 555px;
}
.proyecto:nth-child(10) {
  grid-column: 4;
  outline: 1px solid black;
  width: 542px;
}
.proyecto:nth-child(11) {
  grid-column: 1;
  grid-row: 5 / span 2;
   width: 353px;
  outline: 1px solid black;
}
.proyecto:nth-child(12) {
  grid-column: 2 / span 2;
  outline: 1px solid black;
  width: 555px;
}
.proyecto:nth-child(13) {
  grid-column: 4;
  grid-row: 5 / span 2;
  outline: 1px solid black;
  width: 542px;
}



.proyecto-info {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 708px;
  background-color: #e4e4f7;
outline: 1px solid black;
cursor: url(https://res.cloudinary.com/deryav09b/image/upload/v1622679023/proyectos/Recurso_20_1_zsliqr.svg), progress;
transition: opacity 0.5s ease-out;
transition: opacity 0.5s ease-in;
}



.proyecto-info H1{
 margin: 50px;
}

.proyecto-info p {
  font-size: var(--h6);
  font-family: var(--font-base);
  margin-right: 700px;
  padding-left: 50px;
  font-size: -h6;
}

.proyecto-inabajo ul{
  outline: 1px solid black;
  padding: 10px;
  margin-top:324px; 
  padding-left: 40px;
  width: 799.9px;

}

.proyecto-inabajo li{
  font-size: var(--h6);
  font-family: var(--font-base);
  display: inline;
  align-items: center;
  justify-content: center;
  padding-right: 130px;
}

.proyecto-info img {
  margin: auto;
  outline: 1px solid black;
 }



.imagenes-proyecto{
   outline: 1px solid black;
   padding: 20px;
   cursor: url(https://res.cloudinary.com/deryav09b/image/upload/v1622679022/proyectos/Capa_2_a23z1s.svg), progress;
  margin-left: 800px;
   height: 708px;
   margin-top: -724px;
   float:right;
   overflow:auto;
 
}

.proyecto-info {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 708px;
  background-color: #e4e4f7;
outline: 1px solid black;
cursor: url(https://res.cloudinary.com/deryav09b/image/upload/v1622679023/proyectos/Recurso_20_1_zsliqr.svg), progress;

}


/*mano*/
.proyecto-info2 {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 708px;
  background-color: #e4e4f7;
outline: 1px solid black;
cursor: url(https://res.cloudinary.com/deryav09b/image/upload/v1622679023/proyectos/Recurso_20_1_zsliqr.svg), progress;

}


.proyecto-info2 H1{
 margin: 50px;
}

.proyecto-info2 p {
  font-size: var(--h6);
  font-family: var(--font-base);
  margin-right: 700px;
  padding-left: 50px;
  font-size: -h6;
}

.proyecto-inabajo2 ul{
  outline: 1px solid black;
  padding: 10px;
  margin-top:464px; 
  padding-left: 50px;
  width: 963.2px;

}

.proyecto-inabajo2 li{
  font-size: var(--h6);
  font-family: var(--font-base);
  display: inline;
  align-items: center;
  justify-content: center;
  padding-right: 184px;
}

.proyecto-info2 img {
  margin: auto;
  outline: 1px solid black;
  width: 445px;
 }


.imagenes-proyecto2 {
   outline: 1px solid black;
   padding: 20px;
  margin-left: 800px;
   height: 708px;
   margin-top: -724px;
   float:right;
   overflow:auto;
 
}

/* Responsivo  mano*/
@media screen and (max-width: 600px) {
.proyecto-info2 {
  width: auto;
  height: fit-content;
  background-color: #e4e4f7;
outline: 1px solid black;
cursor: url(https://res.cloudinary.com/deryav09b/image/upload/v1622679023/proyectos/Recurso_20_1_zsliqr.svg), progress;

}


.proyecto-info2 H1{
 margin: 50px;
}

.proyecto-info2 p {
  font-size: var(--h6);
  font-family: var(--font-base);
  margin-right: 10px;
  padding-left: px;
  font-size: -h6;
}

.proyecto-inabajo2 ul{
  outline: 1px solid black;
  padding: 10px;
  margin-top:124px; 
  padding-left: 23px;
  width: auto;

}

.proyecto-inabajo2 li{
  font-size: 15px;
  font-family: var(--font-base);
  display: inline;
  align-items: center;
  justify-content: center;
  padding-right: .1px;
}

.proyecto-info2 img {
  outline: 1px solid black;
  width: auto;
 }


.imagenes-proyecto2 {
   outline: 1px solid black;
   padding: 20px;
   height: auto;
   margin: 0px;
   margin-top: -15px;
  cursor: url(https://res.cloudinary.com/deryav09b/image/upload/v1622679022/proyectos/Capa_2_a23z1s.svg), progress;
}

}

/*poster*/
.proyecto-info3 {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 708px;
  background-color: #e4e4f7;
outline: 1px solid black;
cursor: url(https://res.cloudinary.com/deryav09b/image/upload/v1622679023/proyectos/Recurso_20_1_zsliqr.svg), progress;

}


.proyecto-info3 H1{
 margin: 50px;
}

.proyecto-info3 p {
  font-size: var(--h6);
  font-family: var(--font-base);
  margin-right: 700px;
  padding-left: 50px;
  font-size: -h6;
}

.proyecto-inabajo3 ul{
  outline: 1px solid black;
  padding: 10px;
  margin-top:464px; 
  padding-left: 50px;
  width: 862px;

}

.proyecto-inabajo3 li{
  font-size: var(--h6);
  font-family: var(--font-base);
  display: inline;
  align-items: center;
  justify-content: center;
  padding-right: 152px;
}

.proyecto-info3 img {
  margin: auto;
  outline: 1px solid black;
  width: 530px;
 }


.imagenes-proyecto3 {
   outline: 1px solid black;
   padding: 20px;
  margin-left: 800px;
   height: 708px;
   margin-top: -724px;
   float:right;
   overflow:auto;
  cursor: url(https://res.cloudinary.com/deryav09b/image/upload/v1622679022/proyectos/Capa_2_a23z1s.svg), progress;
}

/* Responsivo  poster*/
@media screen and (max-width: 600px) {
.proyecto-info3 {
  width: auto;
  height: fit-content;
  background-color: #e4e4f7;
outline: 1px solid black;
cursor: url(https://res.cloudinary.com/deryav09b/image/upload/v1622679023/proyectos/Recurso_20_1_zsliqr.svg), progress;

}


.proyecto-info3 H1{
 margin: 50px;
}

.proyecto-info3 p {
  font-size: var(--h6);
  font-family: var(--font-base);
  margin-right: 10px;
  padding-left: px;
  font-size: -h6;
}

.proyecto-inabajo3 ul{
  outline: 1px solid black;
  padding: 10px;
  margin-top:124px; 
  padding-left: 23px;
  width: auto;

}

.proyecto-inabajo3 li{
  font-size: 15px;
  font-family: var(--font-base);
  display: inline;
  align-items: center;
  justify-content: center;
  padding-right: .1px;
}

.proyecto-info3 img {
  outline: 1px solid black;
  width: auto;
 }


.imagenes-proyecto3 {
   outline: 1px solid black;
   padding: 20px;
   height: auto;
   margin: 0px;
   margin-top: -15px;
  cursor: url(https://res.cloudinary.com/deryav09b/image/upload/v1622679022/proyectos/Capa_2_a23z1s.svg), progress;
}

}

/*espacios*/
.proyecto-info4 {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 708px;
  background-color: #e4e4f7;
outline: 1px solid black;

}


.proyecto-info4 H1{
 margin: 50px;
}

.proyecto-info4 p {
  font-size: var(--h6);
  font-family: var(--font-base);
  margin-right: 700px;
  padding-left: 50px;
  font-size: -h6;
}

.proyecto-inabajo4 ul{
  outline: 1px solid black;
  padding: 10px;
  margin-top:436px; 
  padding-left: 50px;
  width: 862px;

}

.proyecto-inabajo4 li{
  font-size: var(--h6);
  font-family: var(--font-base);
  display: inline;
  align-items: center;
  justify-content: center;
  padding-right: 152px;
}

.proyecto-info4 img {
  margin: auto;
  outline: 1px solid black;
  width: 530px;
 }


.imagenes-proyecto4 {
   outline: 1px solid black;
   padding: 20px;
  margin-left: 800px;
   height: 708px;
   margin-top: -724px;
   float:right;
   overflow:auto;
}

/* Responsivo  espacios*/
@media screen and (max-width: 600px) {
.proyecto-info4 {
  width: auto;
  height: fit-content;
  background-color: #e4e4f7;
outline: 1px solid black;
cursor: url(https://res.cloudinary.com/deryav09b/image/upload/v1622679023/proyectos/Recurso_20_1_zsliqr.svg), progress;

}


.proyecto-info4 H1{
 margin: 50px;
}

.proyecto-info4 p {
  font-size: var(--h6);
  font-family: var(--font-base);
  margin-right: 10px;
  padding-left: px;
  font-size: -h6;
}

.proyecto-inabajo4 ul{
  outline: 1px solid black;
  padding: 10px;
  margin-top:124px; 
  padding-left: 23px;
  width: auto;

}

.proyecto-inabajo4 li{
  font-size: 15px;
  font-family: var(--font-base);
  display: inline;
  align-items: center;
  justify-content: center;
  padding-right: .1px;
}

.proyecto-info4 img {
  outline: 1px solid black;
  width: auto;
 }


.imagenes-proyecto4 {
   outline: 1px solid black;
   padding: 20px;
   height: auto;
   margin: 0px;
   margin-top: -15px;
  cursor: url(https://res.cloudinary.com/deryav09b/image/upload/v1622679022/proyectos/Capa_2_a23z1s.svg), progress;
}

}

/*jaula*/
.proyecto-info5 {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 708px;
  background-color: #e4e4f7;
outline: 1px solid black;

}


.proyecto-info5 H1{
 margin: 50px;
}

.proyecto-info5 p {
  font-size: var(--h6);
  font-family: var(--font-base);
  margin-right: 700px;
  padding-left: 50px;
  font-size: -h6;
}

.proyecto-inabajo5 ul{
  outline: 1px solid black;
  padding: 10px;
  margin-top:380px; 
  padding-left: 50px;
  width: 862px;

}

.proyecto-inabajo5 li{
  font-size: var(--h6);
  font-family: var(--font-base);
  display: inline;
  align-items: center;
  justify-content: center;
  padding-right: 148px;
}

.proyecto-info5 img {
  margin: auto;
  outline: 1px solid black;
  width: 530px;
 }


.imagenes-proyecto5 {
   outline: 1px solid black;
   padding: 20px;
  margin-left: 800px;
   height: 708px;
   margin-top: -724px;
   float:right;
   overflow:auto;
}

/* Responsivo */
@media screen and (max-width: 600px) {
.grid-proyectos {
  display: flex;
  flex-direction: column;
}

  .proyecto {
    width: 100%;
    max-width: 90vw;
    margin: auto;
  }

}
/* Responsivo  jaula*/
@media screen and (max-width: 600px) {
.proyecto-info5 {
  width: auto;
  height: fit-content;
  background-color: #e4e4f7;
outline: 1px solid black;
cursor: url(https://res.cloudinary.com/deryav09b/image/upload/v1622679023/proyectos/Recurso_20_1_zsliqr.svg), progress;

}


.proyecto-info5 H1{
 margin: 50px;
}

.proyecto-info5 p {
  font-size: var(--h6);
  font-family: var(--font-base);
  margin-right: 10px;
  padding-left: px;
  font-size: -h6;
}

.proyecto-inabajo5 ul{
  outline: 1px solid black;
  padding: 10px;
  margin-top:124px; 
  padding-left: 23px;
  width: auto;

}

.proyecto-inabajo5 li{
  font-size: 15px;
  font-family: var(--font-base);
  display: inline;
  align-items: center;
  justify-content: center;
  padding-right: .1px;
}

.proyecto-info5 img {
  outline: 1px solid black;
  width: auto;
 }


.imagenes-proyecto5 {
   outline: 1px solid black;
   padding: 20px;
   height: auto;
   margin: 0px;
   margin-top: -15px;
  cursor: url(https://res.cloudinary.com/deryav09b/image/upload/v1622679022/proyectos/Capa_2_a23z1s.svg), progress;
}

}
/*ORDINARIO*/
.proyecto-info6 {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 708px;
  background-color: #e4e4f7;
outline: 1px solid black;

}


.proyecto-info6 H1{
 margin: 50px;
}

.proyecto-info6 p {
  font-size: var(--h6);
  font-family: var(--font-base);
  margin-right: 700px;
  padding-left: 50px;
  font-size: -h6;
}

.proyecto-inabajo6 ul{
  outline: 1px solid black;
  padding: 10px;
  margin-top:324px; 
  padding-left: 50px;
  width: 939px;

}

.proyecto-inabajo6 li{
  font-size: var(--h6);
  font-family: var(--font-base);
  display: inline;
  align-items: center;
  justify-content: center;
  padding-right: 176px;
}

.proyecto-info6 img {
  margin: auto;
  outline: 1px solid black;
  width: 453px;
 }


.imagenes-proyecto6 {
   outline: 1px solid black;
   padding: 20px;
  margin-left: 800px;
   height: 708px;
   margin-top: -724px;
   float:right;
   overflow:auto;
   cursor: url(https://res.cloudinary.com/deryav09b/image/upload/v1622679022/proyectos/Capa_2_a23z1s.svg), progress;
}

/* Responsivo  mano*/
@media screen and (max-width: 600px) {
.proyecto-info6 {
  width: auto;
  height: fit-content;
  background-color: #e4e4f7;
outline: 1px solid black;
cursor: url(https://res.cloudinary.com/deryav09b/image/upload/v1622679023/proyectos/Recurso_20_1_zsliqr.svg), progress;

}


.proyecto-info6 H1{
 margin: 50px;
}

.proyecto-info6 p {
  font-size: var(--h6);
  font-family: var(--font-base);
  margin-right: 10px;
  padding-left: px;
  font-size: -h6;
}

.proyecto-inabajo6 ul{
  outline: 1px solid black;
  padding: 10px;
  margin-top:124px; 
  padding-left: 23px;
  width: auto;

}

.proyecto-inabajo6 li{
  font-size: 15px;
  font-family: var(--font-base);
  display: inline;
  align-items: center;
  justify-content: center;
  padding-right: .1px;
}

.proyecto-info6 img {
  outline: 1px solid black;
  width: auto;
 }


.imagenes-proyecto6 {
   outline: 1px solid black;
   padding: 20px;
   height: auto;
   margin: 0px;
   margin-top: -15px;
  cursor: url(https://res.cloudinary.com/deryav09b/image/upload/v1622679022/proyectos/Capa_2_a23z1s.svg), progress;
}

}

.contacto{
   font-size: var(--h6);
  font-family: var(--font-base);
  outline: 1px solid black;
  width: 100%;
  height: 308px;
  padding: 130px;
  background-color: #e4e4f7;
}

/* Utilities */
/* .flex {
  display: flex;
}

.flex-center {
  justify-items: center;
  align-items: center;
}

.grid {
  display: grid;
  width: 100vw;
}

.grid-center {
  place-content: center;
}

.mx-auto {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.hidden {
  display: none;
  visibility: hidden;
}

.outline {
  outline: 1px solid black;
} */

