/* Tipografía */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces&family=Lato&display=swap");
/* Variables */
:root {
  --primario: #e6e6fa;
  --primario-claro: #ffffff;
  --primario-fuerte: #ccccf5;
  --secundario: #000000;
  --secundario-claro: #b2b3b2;
  --secundario-fuerte: #000000;
  --bg: #e6e6fa;
  --font-base: "Lato", sans-serif;
  --font-headings: "Fraunces", serif;
  --h1: 121px;
  --h2: 81px;
  --h3: 54px;
  --h4: 27px;
  --h5: 18px;
  --h6: 16px;
}

/* Base */

/*
  Elementos base van aqui
*/

body {
  font-family: var(--font-base);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}

/* Componentes */

/*
  Componentes van aqui
*/

/* Utilities */
.flex {
  display: flex;
}

.flex-center {
  justify-items: center;
  align-items: center;
}

.grid {
  display: grid;
  width: 100vw;
}

.grid-center {
  place-content: center;
}

.mx-auto {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.hidden {
  display: none;
  visibility: hidden;
}

.outline {
  outline: 1px solid black;
}

/* Base */
body {
  font-family: "Lato", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fraunces", serif;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Componentes */
.nav {
  background-color: #e6e6fa;
  max-width: 100vw;
  position: relative;
  outline: 1px solid black;
}

.logo {
  position: fixed;
  width: 70px;
  height: 70px;
  left: 0;
  display: absolute;
  outline: 1px solid black;
}

.nav ul {
  position: fixed;
  font-family: var(--font-headings);
  font-size: var(--h5);
  display: flex;
  margin: 0px;
  margin-left: 70px;
  margin-right: 0px;
  align-items: center;
  justify-content: center;
  gap: 350px;
  width: 100vw;
  height: 70px;
  background-color: lavender;
  outline: 1px solid black;
}

.nav a {
  padding-top: 15px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 15px;
}

.nav ul li a:hover {
  outline: 1px solid black;
  height: 200%;
  width: 200%;
  border-radius: 200%;
  opacity: 0.5;
  background-color: black;
}

.nombre {
  position: fixed;
  font-family: var(--font-headings);
  font-size: var(--h4);
  writing-mode: vertical-lr;
  transform: rotate(-180);
  padding-top: 340px;
  padding-left: 15px;
  width: 70px;
  height: 100vh;
  margin-top: 70px;
  display: block;
  background-color: lavender;
  outline: 1px solid black;
}

.intro {
  color: #38e925;
  font-family: var(--font-headings);
  font-size: var(--h4);
  display: block;
  width: 100vw;
  height: 100vh;
  padding-top: 25%;
  padding-left: 60%;
}

.grid {
  display: grid;
  /* grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr; */
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
}

.proyectos div:nth-child(1) {
  background-color: lightcoral;
  width: 400px;
  height: 500px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.proyectos div:nth-child(2) {
  background-color: lightgrey;
  width: 400px;
  height: 400px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.proyectos div:nth-child(3) {
  background-color: lightsalmon;
  width: 400px;
  height: 300px;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
.proyectos div:nth-child(4) {
  background-color: lightslategray;
  width: 400px;
  height: 600px;
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}
.proyectos div:nth-child(5) {
  background-color: lightgoldenrodyellow;
  width: 240px;
  height: 300px;
  grid-column: 1 / 2;
  grid-row: 2/ 3;
}
.proyectos div:nth-child(6) {
  background-color: lightseagreen;
  width: 600px;
  height: 400px;
  grid-column: 2/ 3;
  grid-row: 2/ 4;
}
.proyectos div:nth-child(7) {
  background-color: lightpink;
  width: 900px;
  height: 600px;
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}
